# Data Frames

### Multi Index

In [1]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [2]:
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [3]:
df = pd.DataFrame(randn(6,2), hier_index,['A','B'])

In [4]:
df

             A         B
G1 1 -1.613981 -1.719721
   2 -2.416896  0.443236
   3 -0.829136  1.197144
G2 1 -0.960429  0.342228
   2  0.158122  0.035746
   3 -1.467030  0.803971

In [5]:
df.loc['G2'].loc[2]['B']

0.03574612421597931